body {
	margin:0px; 
	padding:0px;
	/*background-image: url(images/bg.jpg);*/
	background-color: #ffffff;
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-family:Verdana, Geneva, sans-serif;
}
a {text-decoration:none; color:#ffffff;}
img {border:none;}
.content {
	width: 900px;
	min-width: 900px;
	height:auto !important;
	height:100%;
	min-height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

.counter {background-color: #4eb3b9; width: 0px;height: 106px;float: left;}
#clustrmaps-widget {display: none;}
.counter-btn {
	background-color: #4eb3b9; 
	width: 19px;
	height: 106px;
	float: left;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	word-wrap: break-word;
	font-size: 16px;
	padding-left: 5px;
}

.head {padding: 50px 50px 20px 50px;height:auto !important;height:120px; min-height:120px; }
.head .logo {font-size:48px;float:left;font-weight:bold;}
.head .logo .small {font-size:24px;}
.head .title {float:right;}
.head .title .info {float:right;}
.head .title .info p {font-size:14px; padding:0; color:#000000;}
.head .title .info .name {font-size:16px; font-weight:bold; text-align:center;margin:5px; }
.head .title .info .email {margin:0px 5px 0px 5px;}
.head .title .photo {float:right;}
.head .title .photo img {width:48px;}

.menu {padding: 0px 50px 0px 50px;clear:both;}
.line {clear:both;height:auto !important; }
.box {margin:5px;height:auto !important; height:120px; min-height:120px; padding:5px; color:#ffffff;display:none; font-size:13px;}
.right {float:right;margin: 5px 5px 5px 100px;}
.left {float:left;}
.clear{clear:both;}

.line-1 .box-1 {background-color:#4eb3b9; width:120px;}
.line-1 .box-1 img { width:72px; height:72px; margin:15px auto 10px 25px;}
.line-1 .box-1 span { margin-left:10px;}
.line-1 .box-2 {background-color:#5859b9; width:120px;}
.line-1 .box-2 img { width:85px; height:85px; margin:10px auto 2px 15px;}
.line-1 .box-2 span { margin-left:10px;}
.line-1 .box-3 {background-color:#1ba1e2; width:120px;}
.line-1 .box-3 img { width:85px; height:85px; margin:10px auto 2px 15px;}
.line-1 .box-3 span { margin-left:10px;}
.line-1 .box-4 {background-color:#339933; width:120px;}
.line-1 .box-4 img { width:85px; height:85px; margin:10px auto 2px 15px;}
.line-1 .box-4 span { margin-left:10px;}
.line-1 .box-5 {background-color:#d54d34; width:120px;}
.line-1 .box-5 img { width:85px; height:85px; margin:10px auto 2px 15px;}
.line-1 .box-5 span { margin-left:10px;}

.line-2 .box-1 {background-color:#d54d34; width:260px;}
.line-2 .box-1 img { width:85px; height:85px; margin:10px auto 2px 85px;}
.line-2 .box-1 span { margin-left:10px;}
.line-2 .box-2 {background-color:#de9317; width:260px;}
.line-2 .box-2 img { width:85px; height:85px; margin:10px auto 2px 85px;}
.line-2 .box-2 span { margin-left:10px;}
.line-2 .box-3 {background-color:#96b232; width:120px;}
.line-2 .box-3 img { width:85px; height:85px; margin:10px auto 2px 15px;}
.line-2 .box-3 span { margin-left:10px;}


.line-3 .box-1 {background-color:#034888; width:120px;}
.line-3 .box-1 img { width:85px; height:85px; margin:10px auto 2px 15px}
.line-3 .box-1 span { margin-left:10px;}
.line-3 .box-2 {background-color:#6e155f; width:260px;}
.line-3 .box-2 img { width:85px; height:85px; margin:10px auto 2px 85px;}
.line-3 .box-2 span { margin-left:10px;}
.line-3 .box-3 {background-color:#e671b8; width:120px;}
.line-3 .box-3 img { width:85px; height:85px; margin:10px auto 2px 15px}
.line-3 .box-3 span { margin-left:10px;}
.line-3 .box-4 {background-color:#4eb3b9; width:120px;}
.line-3 .box-4 img { width:85px; height:85px; margin:10px auto 2px 15px}
.line-3 .box-4 span { margin-left:10px;}

#contact .circle_icon {background: #75c3bf;width: 82px;height: 82px;border-radius: 41px;position: relative;display: inline-block;vertical-align: middle;margin-right: 1em;transition: background .15s linear;-webkit-transition: background  .15s linear;	-moz-transition: background  .15s linear; }
#contact .circle_icon:hover {background: #268e89;transition: background .15s linear;-webkit-transition: background  .15s linear;-moz-transition: background  .15s linear; }
#contact .circle_icon.email span {position: absolute;margin-top: 27%;margin-left: 23%;width: 45px;height: 36px;background: url(images/icon_email.png) no-repeat;background-size: 100%;}
#contact .contact_details {text-align: left;position: absolute;top: 80px;right: 0;margin: 3em 0;z-index: 99;width: 50%;background: #39a9a4;background: rgb(57,169,164);background: rgba(57,169,164, 0.95);color: #fff;}
#contact .contact_details > div {padding: 1.5em; }
#contact .contact_details a {	font-weight: 700;font-size: 1.2em; } 
#contact .contact_details h2 { font-size: 1.1em;margin-bottom: 0; }
#contact .contact_details h2 a { letter-spacing: normal; text-transform: none;font-weight: 200!important; }
#contact .contact_details p {	margin-bottom: .5em; }
#contact .contact_details a {	color: #ffffff; }
#contact .contact_details a:hover {	color: #268E89; }
#contact .contact_details h2 a span { display: inline-block; background: url(images/icon_location.png);background-size: 100%;width: 10px;	height: 16px;margin-right: .5em; }
#contact .contact_details ul#address { margin: 0;	padding: 0; }
#contact .contact_details ul#address li { background: url(images/icon_location.png) no-repeat; background-size: 10px 16px; background-position: 0 18px;display: inline-block; list-style-type: none; padding: 0 10% 0 5%;	vertical-align: top; }
#contact .contact_info { display: inline-block;vertical-align: middle;margin:  0;padding: 0;	line-height: 1.6em;font-weight: 700;font-size: 1.2em; }
#contact .wrap { margin: 0 auto; text-align: center; width: 90%; max-width: 1140px; position: relative; }

#contact .head {min-height:80px;}
#contact .head .logo a{color:#000;}
#contact .nav_container {height: 3em; border-bottom: 1px solid #000000; }
#contact nav {background: #eeeeee;padding: 0;height: 3em;z-index: 999;width: 100%; }
#contact nav.fixed {position: fixed; top: 0; }
#contact nav.fixed #logo_mark {display: inline-block; }
#contact nav ul {position: absolute;right: 0;display: inline-block;font-size: .9em;letter-spacing: .1em;font-weight: 700;text-align: left;text-transform: uppercase; vertical-align: top; }
#contact nav ul a {color: #333;text-decoration: none;margin: 0 1em;padding-bottom: 5px; }
#contact nav li {line-height: 1em;display: inline-block; }
#contact nav ul a:visited {color: #333; }
#contact nav li.active a {color: #e1704b; }
#contact nav li:hover a {color: #e1704b; }
#contact .nav_link {display: none; }
#contact nav .wrap {text-align: left; }

#project {}
#project li {}
#project p {padding: 0; margin: 0;}
#project .left-content {float: left; position: fixed; width: 32%;border-right: 2px solid #eeeeee;height: 100%;}
#project .left-content .left-up {height: 220px;border-bottom: 3px solid #eeeeee;margin-right: 20px;}
#project .left-content .left-up .logo {font-size:48px;float:left;font-weight:bold;margin: 30px 0px 30px 10px;}
#project .left-content .left-up .logo a{color:#000;}
#project .left-content .left-up .logo .small {font-size:24px;}
#project .left-content .left-up .title {float:left; margin: 30px 0px 30px 10px;}
#project .left-content .left-up .title .info {float:right;}
#project .left-content .left-up .title .info p {font-size:14px; padding:0; color:#000000;}
#project .left-content .left-up .title .info .name {font-size:16px; font-weight:bold; text-align:left;margin:5px; }
#project .left-content .left-up .title .info .email {margin:0px 5px 0px -5px;}
#project .left-content .left-up .title .photo {float:right;}
#project .left-content .left-up .title .photo img {width:48px;}
#project .left-content .left-down {height: 60%; text-align: right;}
#project .left-content .left-down {margin: 30px 20px 30px 0px;}
#project .left-content .left-down li {font-size: 40px; right: 20px;margin-bottom: 10px;list-style-type: none;}
#project .left-content .left-down .current {color: #3e4145;}
#project .left-content .left-down li a{color:#ccc;}
#project .left-content .left-down li a:hover{color: #2585a6;}
#project .right-content {float: right; width: 68%;}
#project .right-content .warpper {width: 95%;}
#project .right-content .warpper li a{color:#ccc;}
#project .right-content .warpper li a:hover{color: #2585a6;}
#project .right-content .warpper .item {margin-bottom: 40px; text-align: justify;text-align-last:justify;box-pack:justify;}
#project .right-content .warpper .item .tag {background: url(images/bullet.gif) no-repeat left;padding: 20px 0 20px 20px;margin-left: 2px;}
#project .right-content .warpper .item .title {font-size:20px; font-weight:bold;}
#project .right-content .warpper .item .intro {margin-left: 25px;}
#project .right-content .warpper .item .intro p {margin-bottom: 10px;}
#project .right-content .warpper .item .tect {float: left;}
#project .right-content .warpper .item .image {float: right;padding:5px 20px 0px 0px;}
#project .right-content .warpper .item .download {padding-top: 10px;margin-left: 25px;}
#project .right-content .warpper .item .download a{color:#aaa;}
#project .footer {position: fixed;width: 100%;bottom: 0px;z-index: 10;background: #fff;border-top: 2px solid #eeeeee;}
#project .footer p{font-size: 12px;margin: 10px 0px 10px 10px;}

#about .head a {text-decoration:none; color:#000;}
#about .introduce {width: 780px; margin: 0px 50px 0px 50px; background-color: #d4d9da; padding: 10px;border-radius: 5px;}
#about .message {width: 780px; margin: 0px 50px 0px 50px; padding: 10px 10px 50px 10px;}
#about .footer {position: fixed; width: 800px; bottom: 0px;z-index: 10;background: #fff;border-top: 2px solid #eeeeee;margin: 0px 50px 0px 50px;}
#about .footer p{font-size: 12px;margin: 10px 0px 10px 10px;text-align: center;}

#new-main{background-color: rgba(0, 0, 0, 0.8);color: #fff;}
.main {width: 100%;}
.main a {color: #0f0;}
.main a:hover {text-decoration: underline;}
.main .left-part {width: 25%;float: left;font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;}
.main .left-part .btn {bottom: 0px;float: fixed;}
.main .left-part .btn span:hover {cursor:pointer;}
.main .left-part #widget {display: none;margin-top: 20px;}
.main .left-part #widget .item {margin-bottom: 10px;}
.main .left-part #widget img {margin-left: 20px;}
.main .mid-part {float: left;width: 600px;}
.main .mid-part .up {padding-top: 90px;}
.main .mid-part .up li {list-style: none;margin-top: 5px;margin-bottom: 5px;}
.main .mid-part .up .list {float: right; margin-right: 10px;padding-top: 120px;line-height: 21px;font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;}
.main .mid-part .up .list span {float: right;}
.main .mid-part .up .list .head {border-bottom:solid 2px #ededed;}
.main .mid-part .up .title {float: right;width: 50px;font-size: 45px;font-weight: bold;padding-top: 110px;}
.main .mid-part .up .photos {float: right;}
.main .mid-part .up .photos img {width: 50px; border-radius: 30px;-webkit-border-radius: 30px;-moz-border-radius: 30px;}
.main .mid-part .up .photos img.photo:hover {
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}
.main .mid-part .down {clear: both;border-top:solid 2px #ededed;}
.main .mid-part .down .mail {float: right;margin:5px 7px 5px 0px;}
.main .mid-part .down .social {clear:both; float: right; margin:5px 10px 5px 0px;}
.main .mid-part .down .social img {width: 20px;margin-left: 5px;}
.main .right-part {width: auto; float: left;margin-left: 10px;font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;}
.main .right-part .moto {letter-spacing:1px; height:600px; writing-mode: vertical-rl; -webkit-writing-mode: vertical-rl;}
.main .right-part .moto .one{margin-top: 200px;}
.main .right-part .moto .two{margin-top: 300px;}
